<%= form_for @gif, url: user_gifs_path(current_user), remote: true do |f| %>
  URL: <%= f.text_field :url, autofocus: true %>
  <p>or</p>
  <%= f.attachment_field :gif %>
  <%= f.submit 'Add That Nifty Gif', class: "btn btn-default center-block" %>
<% end %>
